/* 0 - 1 -  1 -> 11 */
/*specificity*/
/* 0- 0 - 0 */
/* id - class - element */


/* css selector 
1.id selector
2. class selector
3. element selector

4. attribute selector
5. pseudo selector 
6.child selector
7. sbling selector 
*/
.parent h1{
    color:green;
}
h1{ 
    
    color:blue;
}
#red {
    color: red;
}
.green{
    color:yellow;
}
/*peudo selector*/

h1:hover{
    color:pink;
}
.buttom{
    background-color:yellow;
    border:2px solid black;
    padding:10px 20px;
    margin:10px;
    border-radius:50px;
}
.buttom:hover{
    background-color:orange;
    color :white;
}


.card {
    width: 250px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.card h2 {
    margin-top: 10px;
    font-size: 20px;
    color:black;
}

.card p {
color:black;
margin-top:5px;
}


.card button {
    width: 100%;
    padding: 10px 20px;
    background-color : blue;
    border:nono;
    color: white;
}
.parent {
    background-color:black;
    padding:20px;
    display:flex;
    /*flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;*/
    align-items:baseline;
    gap:10px;

.parent1 {
background-color:white;
padding : 20px;
display:flex;
align-items:flex-gap;
}
    

}
.child {
padding:30px;
background-color:yellow;
border: 1px solid black;
}

.long {
    height:140px;
}


/*navbar styling task*/
 .navbar {
        display: flex;
        color:white;
        background-color: black;
        justify-content: space-between;  /* left side <-> right side */
        align-items: center;
        padding: 10px 20px;
        border-bottom: 2px solid #eee;
        /* display: none; */
        /* visibility: hidden; */
    }
 .logo {
        font-size: 24px;
        font-weight: bold;
        color:white;
    }
      .menu {
        display: flex;
       gap:20px;

    }
    
.btn {
    background:red;
    transition:all 5s ;
    padding :10px 20px;
    border:none;
    border-radius:5px;
    color:white;
    animation: bounce 1s infinite;
}
.btn:hover{
    background:yellow;
   
    transform: scale(1.3);
}
.heart {
    height:50px;
    width:50px;
    margin:auto;
    background-color:red;
    border-radius:100px;
    animation:heartbeat 1s infinite
    

}

/* Animation */
@keyframes bounce {
    0% {
        transform: translateY(0);}
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes heartbeat{
    0%{transform:scale(1);}
    30%{transform:scale(1.3);}
    50%{transform:scale(1.2);}
    80%{transform:scale(1.3);}
    100%{transform:scale(1);}
}

/* media screen size */
@media (max-width:480px) and (max-width:768px){
    .btn{
        background-color: lightgrey;
    }
    
}
/* display size */
@media (min-width:768px){
    .card{
        width: 100%;
    }
    .navbar{
        display: none;
    }
}

